<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>5M_OFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1170},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,69}}</string>
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>

			<key>5M_ON.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,1259},{86,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,97}}</string>
				<key>sourceSize</key>
				<string>{86,97}</string>
			</dict>

			<key>bet_calabash.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,1602},{273,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,176}}</string>
				<key>sourceSize</key>
				<string>{273,176}</string>
			</dict>

			<key>bet_calabash_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,904},{273,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,176}}</string>
				<key>sourceSize</key>
				<string>{273,176}</string>
			</dict>

			<key>bet_calabash_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,1425},{273,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,176}}</string>
				<key>sourceSize</key>
				<string>{273,176}</string>
			</dict>

			<key>bet_crab.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1242},{273,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,182}}</string>
				<key>sourceSize</key>
				<string>{273,182}</string>
			</dict>

			<key>bet_crab_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,1779},{273,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,182}}</string>
				<key>sourceSize</key>
				<string>{273,182}</string>
			</dict>

			<key>bet_crab_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,721},{273,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,182}}</string>
				<key>sourceSize</key>
				<string>{273,182}</string>
			</dict>

			<key>bet_fish.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1649},{279,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,182}}</string>
				<key>sourceSize</key>
				<string>{279,182}</string>
			</dict>

			<key>bet_fish_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1832},{279,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,182}}</string>
				<key>sourceSize</key>
				<string>{279,182}</string>
			</dict>

			<key>bet_fish_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1466},{279,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,182}}</string>
				<key>sourceSize</key>
				<string>{279,182}</string>
			</dict>

			<key>bet_prawn.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1649},{279,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,182}}</string>
				<key>sourceSize</key>
				<string>{279,182}</string>
			</dict>

			<key>bet_prawn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1832},{279,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,182}}</string>
				<key>sourceSize</key>
				<string>{279,182}</string>
			</dict>

			<key>bet_prawn_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1466},{279,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,182}}</string>
				<key>sourceSize</key>
				<string>{279,182}</string>
			</dict>

			<key>bet_rooster.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1466},{275,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,176}}</string>
				<key>sourceSize</key>
				<string>{275,176}</string>
			</dict>

			<key>bet_rooster_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1820},{275,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,176}}</string>
				<key>sourceSize</key>
				<string>{275,176}</string>
			</dict>

			<key>bet_rooster_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1643},{275,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,176}}</string>
				<key>sourceSize</key>
				<string>{275,176}</string>
			</dict>

			<key>bet_stag.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1466},{276,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,176}}</string>
				<key>sourceSize</key>
				<string>{276,176}</string>
			</dict>

			<key>bet_stag_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1820},{276,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,176}}</string>
				<key>sourceSize</key>
				<string>{276,176}</string>
			</dict>

			<key>bet_stag_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1643},{276,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,176}}</string>
				<key>sourceSize</key>
				<string>{276,176}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,720}}</string>
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>

			<key>sb_crab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,1170},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>sb_deer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,1081},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>sb_fish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,1259},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>sb_gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,1081},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>sb_lobster.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1081},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>sb_rooster.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,1170},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>soiCau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1242},{912,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{912,223}}</string>
				<key>sourceSize</key>
				<string>{916,224}</string>
			</dict>

			<key>table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,721},{1043,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1043,520}}</string>
				<key>sourceSize</key>
				<string>{1043,520}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>baucua_mainView.png</string>
			</dict>
		</dict>
</plist>