<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChipBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{317,1550},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChipBrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{463,1594},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChipCycan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{912,1065},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChipGreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{912,1103},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChipOrange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{532,1409},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChipPink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{915,1141},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChipPupple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{915,1187},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChipRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{915,1233},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChipYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,36}</string>
                <key>textureRect</key>
                <string>{{915,1279},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{857,106},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Blue_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{329,710},{142,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{857,208},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Brown_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{284,854},{142,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Cycan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{849,587},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Cycan_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{705,597},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{729,879},{95,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Green_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{390,998},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{768,1390},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Orange_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{433,854},{142,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{765,1487},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Pink_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{478,710},{142,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Pupple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{623,1555},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Pupple_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{390,1147},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{725,1584},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Red_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{362,1296},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,100}</string>
                <key>spriteSourceSize</key>
                <string>{95,100}</string>
                <key>textureRect</key>
                <string>{{827,1584},{95,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip_Yellow_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{362,1445},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_cho dat cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,24}</string>
                <key>spriteSourceSize</key>
                <string>{154,24}</string>
                <key>textureRect</key>
                <string>{{506,1296},{154,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,195}</string>
                <key>spriteSourceSize</key>
                <string>{259,195}</string>
                <key>textureRect</key>
                <string>{{329,118},{259,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,219}</string>
                <key>spriteSourceSize</key>
                <string>{281,219}</string>
                <key>textureRect</key>
                <string>{{1,781},{281,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{329,541},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>borderVictoryLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,60}</string>
                <key>spriteSourceSize</key>
                <string>{293,60}</string>
                <key>textureRect</key>
                <string>{{329,315},{293,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,55}</string>
                <key>spriteSourceSize</key>
                <string>{153,55}</string>
                <key>textureRect</key>
                <string>{{498,541},{153,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{845,746},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_cuoc_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{534,998},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{849,689},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cuoclai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{534,1145},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_cuoclai_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{506,1452},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_dung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{582,879},{145,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_gapdoi_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{651,996},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{651,1143},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,195}</string>
                <key>spriteSourceSize</key>
                <string>{265,195}</string>
                <key>textureRect</key>
                <string>{{590,118},{265,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ca_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,219}</string>
                <key>spriteSourceSize</key>
                <string>{286,219}</string>
                <key>textureRect</key>
                <string>{{1,560},{286,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,195}</string>
                <key>spriteSourceSize</key>
                <string>{304,195}</string>
                <key>textureRect</key>
                <string>{{1,1002},{304,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cua_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,219}</string>
                <key>spriteSourceSize</key>
                <string>{326,219}</string>
                <key>textureRect</key>
                <string>{{1,118},{326,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exportbaucua3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{768,1156},{145,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exportbaucua4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{869,387},{54,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exportbaucua5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{768,1273},{145,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exportbaucua6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,115}</string>
                <key>textureRect</key>
                <string>{{651,1290},{145,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exportbaucua7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,115}</string>
                <key>spriteSourceSize</key>
                <string>{570,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{570,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exportbaucua8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,115}</string>
                <key>spriteSourceSize</key>
                <string>{268,115}</string>
                <key>textureRect</key>
                <string>{{573,1},{268,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exportbaucua9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{534,1292},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,195}</string>
                <key>spriteSourceSize</key>
                <string>{299,195}</string>
                <key>textureRect</key>
                <string>{{1,1308},{299,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ga_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,219}</string>
                <key>spriteSourceSize</key>
                <string>{320,219}</string>
                <key>textureRect</key>
                <string>{{1,339},{320,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hbau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,103}</string>
                <key>spriteSourceSize</key>
                <string>{117,103}</string>
                <key>textureRect</key>
                <string>{{843,1},{117,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,131}</string>
                <key>spriteSourceSize</key>
                <string>{147,131}</string>
                <key>textureRect</key>
                <string>{{696,746},{147,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hcua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{148,107}</string>
                <key>textureRect</key>
                <string>{{555,597},{148,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,116}</string>
                <key>textureRect</key>
                <string>{{623,1437},{140,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hnai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,129}</string>
                <key>spriteSourceSize</key>
                <string>{120,129}</string>
                <key>textureRect</key>
                <string>{{839,456},{120,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>htom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,118}</string>
                <key>spriteSourceSize</key>
                <string>{125,118}</string>
                <key>textureRect</key>
                <string>{{826,893},{125,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icAvatarUser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,141}</string>
                <key>spriteSourceSize</key>
                <string>{142,141}</string>
                <key>textureRect</key>
                <string>{{768,1013},{142,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icBodychat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,57}</string>
                <key>spriteSourceSize</key>
                <string>{117,57}</string>
                <key>textureRect</key>
                <string>{{198,1550},{117,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icChatRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{869,310},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{912,1013},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icExitLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,67}</string>
                <key>spriteSourceSize</key>
                <string>{131,67}</string>
                <key>textureRect</key>
                <string>{{627,706},{131,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icQuestion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{578,1409},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{51,55}</string>
                <key>textureRect</key>
                <string>{{907,689},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_ray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,73}</string>
                <key>spriteSourceSize</key>
                <string>{408,73}</string>
                <key>textureRect</key>
                <string>{{1,1609},{408,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,139}</string>
                <key>spriteSourceSize</key>
                <string>{243,139}</string>
                <key>textureRect</key>
                <string>{{624,315},{243,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nai_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,162}</string>
                <key>spriteSourceSize</key>
                <string>{264,162}</string>
                <key>textureRect</key>
                <string>{{323,377},{264,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,107}</string>
                <key>spriteSourceSize</key>
                <string>{274,107}</string>
                <key>textureRect</key>
                <string>{{198,1002},{274,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timebar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,38}</string>
                <key>spriteSourceSize</key>
                <string>{269,38}</string>
                <key>textureRect</key>
                <string>{{289,560},{269,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timebar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,38}</string>
                <key>spriteSourceSize</key>
                <string>{269,38}</string>
                <key>textureRect</key>
                <string>{{350,998},{269,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timebar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,41}</string>
                <key>spriteSourceSize</key>
                <string>{274,41}</string>
                <key>textureRect</key>
                <string>{{307,998},{274,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{248,139}</string>
                <key>textureRect</key>
                <string>{{589,456},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tom_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,162}</string>
                <key>spriteSourceSize</key>
                <string>{270,162}</string>
                <key>textureRect</key>
                <string>{{198,1278},{270,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_ngau_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{870,1390},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_ngau_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{411,1594},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_ngau_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{870,1447},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_ngau_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{867,1504},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_ngau_nai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{501,1599},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_ngau_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{558,1599},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baucua.png</string>
            <key>size</key>
            <string>{961,1683}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68c87a40084b75f0a3e3c2d1d4d81207:3ce1702c7fdab4ec777941335ec1ccd8:238863a0e5755e670d0679ceb5cb3f3e$</string>
            <key>textureFileName</key>
            <string>baucua.png</string>
        </dict>
    </dict>
</plist>
