<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,284},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,284},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,426},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,426},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,426},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,426},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,568},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,568},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,568},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,568},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,710},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,710},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,710},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,710},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,852},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,852},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,852},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,852},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,994},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,994},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,994},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,994},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,1136},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,1136},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,1136},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,1136},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,1278},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,1278},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,1278},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,142},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,1278},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,1420},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,1420},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,1420},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,1420},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,1562},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,1562},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,1562},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,1562},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,1704},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,142},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,1704},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,1704},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,1704},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{212,142},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{318,142},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{0,284},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,142}</string>
                <key>spriteSourceSize</key>
                <string>{106,142}</string>
                <key>textureRect</key>
                <string>{{106,284},{106,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{424,1846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f58939ff47b3ccb8f84efb1c6670acf:063dacfb334c1b856765cd3ba90cf26c:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
