<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Layer y.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1068,104}</string>
    <key>spriteSourceSize</key>
    <string>{1068,104}</string>
    <key>textureRect</key>
    <string>{{0,0},{1068,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,25}</string>
    <key>spriteSourceSize</key>
    <string>{68,25}</string>
    <key>textureRect</key>
    <string>{{0,361},{68,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>back.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,60}</string>
    <key>spriteSourceSize</key>
    <string>{186,60}</string>
    <key>textureRect</key>
    <string>{{355,311},{186,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>backBtn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,80}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{602,195},{80,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgWinCash.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{682,87}</string>
    <key>spriteSourceSize</key>
    <string>{682,87}</string>
    <key>textureRect</key>
    <string>{{0,106},{682,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>choithu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,114}</string>
    <key>spriteSourceSize</key>
    <string>{138,114}</string>
    <key>textureRect</key>
    <string>{{355,195},{138,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hieuung.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{168,48}</string>
    <key>spriteSourceSize</key>
    <string>{168,49}</string>
    <key>textureRect</key>
    <string>{{859,261},{168,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hieuungquaytrong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,143}</string>
    <key>spriteSourceSize</key>
    <string>{138,143}</string>
    <key>textureRect</key>
    <string>{{215,195},{138,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>huongdan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,80}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{967,106},{80,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lishsu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{269,36}</string>
    <key>spriteSourceSize</key>
    <string>{269,36}</string>
    <key>textureRect</key>
    <string>{{684,360},{269,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lishsuhu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{269,36}</string>
    <key>spriteSourceSize</key>
    <string>{269,36}</string>
    <key>textureRect</key>
    <string>{{684,322},{269,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nhacnen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,47}</string>
    <key>spriteSourceSize</key>
    <string>{178,47}</string>
    <key>textureRect</key>
    <string>{{859,212},{178,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,31}</string>
    <key>spriteSourceSize</key>
    <string>{44,31}</string>
    <key>textureRect</key>
    <string>{{161,361},{44,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>quay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{173,214}</string>
    <key>spriteSourceSize</key>
    <string>{173,214}</string>
    <key>textureRect</key>
    <string>{{684,106},{173,214}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>quaynhanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{495,195},{105,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>quaynhanh_active.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,104}</string>
    <key>spriteSourceSize</key>
    <string>{106,105}</string>
    <key>textureRect</key>
    <string>{{859,106},{106,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>setting.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,84}</string>
    <key>spriteSourceSize</key>
    <string>{88,84}</string>
    <key>textureRect</key>
    <string>{{543,311},{88,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>slideBar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,16}</string>
    <key>spriteSourceSize</key>
    <string>{89,16}</string>
    <key>textureRect</key>
    <string>{{70,361},{89,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>stop.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{213,164}</string>
    <key>spriteSourceSize</key>
    <string>{213,165}</string>
    <key>textureRect</key>
    <string>{{0,195},{213,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1070,398}</string>
   <key>textureFileName</key>
   <string>button.png</string>
  </dict>
 </dict>
</plist>
