<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,26}</string>
    <key>spriteSourceSize</key>
    <string>{37,27}</string>
    <key>textureRect</key>
    <string>{{562,381},{37,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Layer y.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1068,104}</string>
    <key>spriteSourceSize</key>
    <string>{1068,104}</string>
    <key>textureRect</key>
    <string>{{0,0},{1068,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,490}</string>
    <key>spriteSourceSize</key>
    <string>{41,490}</string>
    <key>textureRect</key>
    <string>{{987,195},{41,490}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bgWinCash.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{682,87}</string>
    <key>spriteSourceSize</key>
    <string>{682,87}</string>
    <key>textureRect</key>
    <string>{{258,106},{682,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>choithu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,114}</string>
    <key>spriteSourceSize</key>
    <string>{138,114}</string>
    <key>textureRect</key>
    <string>{{95,668},{138,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gaytonngokhong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,464}</string>
    <key>spriteSourceSize</key>
    <string>{24,464}</string>
    <key>textureRect</key>
    <string>{{1030,195},{24,464}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khungtienthuong.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{302,148}</string>
    <key>spriteSourceSize</key>
    <string>{302,148}</string>
    <key>textureRect</key>
    <string>{{258,381},{302,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>left_decor.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,560}</string>
    <key>spriteSourceSize</key>
    <string>{127,560}</string>
    <key>textureRect</key>
    <string>{{129,106},{127,560}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>round.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{783,29}</string>
    <key>spriteSourceSize</key>
    <string>{783,29}</string>
    <key>textureRect</key>
    <string>{{258,890},{783,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thanhngang1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{441,44}</string>
    <key>spriteSourceSize</key>
    <string>{441,44}</string>
    <key>textureRect</key>
    <string>{{543,275},{441,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thanhngang2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{442,78}</string>
    <key>spriteSourceSize</key>
    <string>{442,78}</string>
    <key>textureRect</key>
    <string>{{258,531},{442,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thanhngangduoiphai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{441,44}</string>
    <key>spriteSourceSize</key>
    <string>{441,44}</string>
    <key>textureRect</key>
    <string>{{543,321},{441,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thanhngantrai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{442,78}</string>
    <key>spriteSourceSize</key>
    <string>{442,78}</string>
    <key>textureRect</key>
    <string>{{543,195},{442,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tongcuoc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,277}</string>
    <key>spriteSourceSize</key>
    <string>{94,277}</string>
    <key>textureRect</key>
    <string>{{258,611},{94,277}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tongtien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{283,184}</string>
    <key>spriteSourceSize</key>
    <string>{283,184}</string>
    <key>textureRect</key>
    <string>{{258,195},{283,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>truhaiben.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,560}</string>
    <key>spriteSourceSize</key>
    <string>{127,560}</string>
    <key>textureRect</key>
    <string>{{0,106},{127,560}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{93,233}</string>
    <key>spriteSourceSize</key>
    <string>{93,233}</string>
    <key>textureRect</key>
    <string>{{0,668},{93,233}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1070,921}</string>
   <key>textureFileName</key>
   <string>main.png</string>
  </dict>
 </dict>
</plist>
